<form action="/add-products" method="POST" enctype="multipart/form-data">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label >product</label>
      <input type="text" name="product" >

    </div><br>
    <div class="form-group col-md-6">
      <label >description</label>
      <input type= class="form-control" name="description">
    </div>
  </div>
  <div class="form-group">
    <label >price</label>
    <input type="text" class="form-control" name="price">
  </div>
  
 
    <div class="form-group col-md-4">
      <label for="inputState">specification</label>
      <input id="inputState" class="form-control" name="specification">
      
    </input>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">categroy</label>
      <input type="text" class="form-control" i>
    </div>
  </div>
  <div class="form-group">
   <div class="md-form"> 
      
  <div class="file-field">
    <label for="">image</label>
    <input  name="image" type="file">
  </div>

   </div>
  </div>
  <button type="submit" class="btn btn-primary">add</button>
</form>